@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lobster&display=swap');
div{
    font-family: "Handlee, Lobster";
    font-size: 22px;
}
body{
    background-color: gainsboro;
}
header{
    background-color: rgb(109, 66, 109);
    color: white;
    display: grid;
    grid-template-columns: 150px auto;
    margin-top: -5px;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(109, 66, 109);
    font-family: "handlee";
    color: white;
    height: 53px;
    padding-top: 25px;
}
nav a:link, nav a:visited, nav a:hover, nav a:active, nav a:focus {
    color:white;
    text-decoration: none;
}
nav a:hover{
    background-color: palegoldenrod;
    color: rgb(109, 66, 109);
}
.logo{
    width: 70px;
    height: 80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
* {box-sizing: border-box;}

.img-comp-container {
  height: 200px; /*should be the same height as the images*/
  justify-content: center;
  text-align: center;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #8f2240;
  opacity: 0.7;
  border-radius: 50%;
}
footer{
    background-color: palegoldenrod;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3{
    color: black;
    font-family: "lobster";
}
footer a{
    text-align: center;
    color: #8f2240;
    text-decoration: none;
    font-family: "Handlee";
}
footer a:hover{
    color: white;
    background-color: #8f2240;
}